html { font-size: 22px; }

body {
  width: 100%;
  height: 100%;
  padding: 1rem;
}


:root {
  --drag-width: 600px;
  --drag-height: 12rem;
  --drag-padding: 10px;
}


.cards {
  max-width: 1800px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
}

.card {
  background-color: dodgerblue;
  color: white;
  padding: var(--drag-padding);
  /* width: var(--drag-width); */
  height: var(--drag-height);
}

.card.dragging {
  opacity: 0;
}

.video_iframe {
  /* width: calc( var(--drag-width) - (var(--drag-padding)*2)); */
  height: calc( var(--drag-height) - (var(--drag-padding)*2));
}

.video_thumbnail {
  position: relative;
  width: 100%;
  height: calc( var(--drag-height) - (var(--drag-padding)*2));
  cursor: pointer;
  overflow: hidden;
  background-color: #000;
}

.thumbnail_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  transition: opacity 0.2s;
}

.video_thumbnail:hover .play_overlay {
  opacity: 1;
}

.thumbnail_fallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
}

.fallback_content {
  text-align: center;
  color: #fff;
}

.fallback_text {
  margin-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.8;
}


@media (min-width: 800px) {
  .cards { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 1000px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 1400px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}



[id^="drag"] {
  position: absolute;
  width: var(--drag-width);
  height: var(--drag-height);
  margin: 1rem 0 0 1rem;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: var(--drag-padding);
  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
  z-index: 1;
}

.drag-active {
  border: 2px solid green;
}

#save_icon {
  width: 50px;
  position: fixed;
  top: 10px;
  left: 70px;
  cursor: pointer;
  z-index: 100;

}

.delete_icon_span {
  position: absolute;
  cursor: pointer;
  top: 2px;
  right: 2px;
  z-index: 100;
}

.delete_icon {
  width: 30px;
  height: 30px;
}


/* https://www.svgrepo.com/svg/304619/drag */
/* Vectors and icons by <a href="https://www.svgrepo.com" target="_blank">SVG Repo</a> */
.drag_icon_span {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
  z-index: 100;
  background-color: rgba(17, 1, 1, 0.692);
  border-radius: 50%;
  padding: 3px;
  touch-action: none;
}

.drag_icon {
  width: 30px;
  height: 30px;
  color: white;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* https://codepen.io/sosuke/pen/Pjoqqp */
.drag_filter {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(310deg) brightness(105%) contrast(101%);
}


.navbar-brand {
  font-size: 1rem;
}

/* Tab dropdown styling */
.nav-tabs .dropdown-toggle {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .dropdown-toggle:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.dropdown-menu {
  max-height: 400px;
  overflow-y: auto;
}

.dropdown-item.active {
  background-color: #0d6efd;
  color: white;
}
